
.mainHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 35rem;
    background: url("../pics/pics_index/general_pics/header_background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: white;
    font-size: 1.6rem;
    gap: 1rem;
}

.mainHeaderLogo {
    background: url("../pics/pics_index/general_pics/icon_logoLSEwhite.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    aspect-ratio: 1;
    width: 20rem;
}

.mainTitle {
    margin-top: 1rem;
    font-weight: 600;
}

.animate-text {
    overflow: hidden;
}

.animate-text span {
    display: none;
}

.animate-text span.text-in {
    display: block;
    animation: textIn .5s ease;
}

.animate-text span.text-out {
    display: block;
    animation: textOut .5s ease;
}

@keyframes textIn {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes textOut {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}

.whiteDivider {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 5rem;
    width: 100%;
    font-style: italic;
    font-size: 1.2rem;
    color: #5A5A5A;
}

.teamBuilding {
    background: url("../pics/pics_index/pics_bottomSlider/pic27_bottomSlider.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 36vw;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    background: url("../pics/pics_index/general_pics/header_background2.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 50vw;
    width: 100%;
}

.card {
    display: flex;
    background-color: white;
    height: 16vw;
    width: 80%;
    transition: .2s;
}

.card:hover {
    box-shadow: -10px 10px 20px rgb(2, 20, 84);
}

.cardTextContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 60%;
    background-color: white;
    color: #0C53A0;
}

#firstCardImage {
    background: url("../pics/pics_index/pics_bottomSlider/pic25_bottomSlider.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
}

#secondCardImage {
    background: url("../pics/pics_index/pics_bottomSlider/pic7_bottomSlider.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
}

.cardTitle {
    font-size: 1.5vw;
    font-weight: 600;
}

.cardText {
    font-size: 1vw;
    line-height: 1.6vw;
    padding: 1vw;
}

.readMore {
    color: #0C53A0;
    text-decoration: none;
    font-weight: 600;
    transition: .2s;
}

#secondCard {
    justify-content: flex-end;
}

.questionSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60rem;
}

.question {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.questionLogo {
    aspect-ratio: 1;
    margin-bottom: 1rem;
    width: 5rem;
    background: url("../pics/pics_index/general_pics/icon_logoLSEblue.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.dividerLogo {
    aspect-ratio: 1;
    width: 4rem;
    background: url("../pics/pics_index/general_pics/icon_logoLSEwhite.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.accordion {
    width: 50%;
    overflow: hidden;
    background:white;
    padding: 1rem;
}

.accordionLabel, .accordionContent {
    padding: .5rem, 0;
}

.accordionLabel {
    padding: 1rem;
    display: block;
    color: #0C53A0;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    transition: background .1s;
    border: .2rem solid #0C53A0;
    margin-bottom: 1rem;
}
.accordionLabel:hover {
    background: #0C53A0;
    color: white;
}

.accordionLabel::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    right: .5rem;
    width: 1.3rem;
    height: 1.3rem;
    background: url("../pics/pics_index/general_pics/icon_expandMore.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition: background 0.4s;
}

.accordionContent {
    color:#0C53A0;
    font-size: 1rem;
    background: white;
    line-height: 1.5rem;
    font-size: 1rem;
    display: none;
    margin-bottom: 1rem;
}

.accordionInput {
    display: none;
}

.accordionInput:checked ~ .accordionContent {
    display: block;
}

.accordionInput:checked ~ .accordionLabel {
    background: #0C53A0; 
    color: white;
}

.accordionInput:checked ~ .accordionLabel::after {
    background: url("../pics/pics_index/general_pics/icon_expandLessWhite.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.semibold {
    font-weight: 600;
}

.consiliulSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#0C53A0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50rem;
}

.consiliulCardsFlexWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    height: 35rem;
    flex-wrap: wrap;
}


.consilulTitle {
    font-size: 2rem;
    font-weight: 600;
    color: white;
    margin-bottom: 4rem;
    letter-spacing: .2rem;
}

.portraitWrapper {
    display: flex;
    flex-direction: column;
    height: 35rem;
    width: 18rem; 
    transition: .2s;
    border: .2rem solid white;
}

.portraitWrapper:hover {
    box-shadow: -10px 10px 20px rgb(2, 20, 84);
}

.portraitImageWrapper {
    background-color: white;
    width: 100%;
    height: 70%;
}

.nameSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.5rem;
    background-color: white;
    width: 100%;
    color:#0C53A0;
    height: 25%;
}

.profession {
    letter-spacing: .1rem;
    font-size: 1rem;
}

.consiliulName {
    font-size: 1.2rem;
    font-weight: 600;
}

.contactInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.5rem;
    font-size: 1rem;
    background-color: #0C53A0;
    color:white;
    width: 100%;
    height: 25%;
}

.portraitImage {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.numbersSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem;
}

.numbersFlexWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 9rem;
}

.numbersFlex {
    color: #0C53A0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.3rem;
}

.numbersTitle {
    font-size: 3rem;
    font-weight: 600;
}

.numbersSubTitle {
    font-size: 2.5rem;
}

.bluetype {
    background-color:#0C53A0;
}

.successSection {
    height: 55rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.successTitle {
    font-size: 2rem;
    font-weight: 600;
    color: #0C53A0;
}

.successWrapper {
    width: 100%;
    height: 40rem;
    /*background-color: red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.successCard {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 0 .2rem #0C53A0;
    height: 100%;
    width: 23rem;
}

.successCardTitle {
    color: #0C53A0;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.successCardDescription {
    font-size: 1rem;
    line-height: 1.5rem;
    color:#0C53A0;
    text-align: center;
    padding: 0 1.5rem 1.5rem 1.5rem;
}

/* Acestea trebuiesc schimbate in cazul in care se modifica continutul cardurilor */

#roboButton {
    margin-top: 6.5rem;
}

#aleargaButton {
    margin-top: 3.5rem;
}

#mobilProButton {
    margin-top: .5rem;
}

/**/

#roboChallange {
    background: url("../pics/pics_index/pics_header/header_robochallange.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 20rem;
    width: 100%;
}

#aleargaPentruViata {
    background: url("../pics/pics_index/pics_header/header_aleargapentruviata.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 20rem;
    width: 100%;
}

#mobilPro {
    background: url("../pics/pics_index/pics_header/header_mobilpro.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 20rem;
    width: 100%;
}

.successButton {
    background-color: #0C53A0;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    transition: .2s;
}

.successButton:hover {
    background-color: white;
    color:#0C53A0;
    cursor: pointer;
    box-shadow: 0 0 0 .2rem #0C53A0;
}

.successButton:active {
    background-color: #3697fe;
    color: white;
}


.image-slider-wrapper {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-slider {
    min-height: 50rem;
    width: 100%;
    height: inherit;
    position: relative;
    background-image: url("../pics/pics_index/pics_bottomSlider/pic1_bottomSlider.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: .3s;
}

.image-slider * {
    box-sizing: border-box;
}

.arrow-left,
.arrow-right {
    background: #fff;
    position: absolute;
    top: 50%;
    aspect-ratio: 1;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    color: #0C53A0;
    box-shadow: 0 0 20px #0C53A0;
}

.arrow-left:hover,
.arrow-right:hover {
    background: #0C53A0;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 20px white;
}

.arrow-left {
    left: 5em;
}

.arrow-right {
    right: 5em;
}

.studentiaSection {
    background-color: #0C53A0;
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 4.5rem;
}

.studentiaSection h1 {
    font-size: 3rem;
    font-weight: 400;
    color: white;
}

@keyframes imgFade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


@media screen and (max-width: 1600px) {
    .consiliulCardsFlexWrapper {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        height: 70rem;
    }

    .consiliulSection {
        height: 90rem;
    }

}

@media screen and (max-width: 990px) {
    .consiliulCardsFlexWrapper {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        height: 113rem;
    }

    .consiliulSection {
        height: 130rem;
    }
}

@media screen and (max-width: 650px) {
    .consiliulCardsFlexWrapper {
        display: flex;
        height:  262.5rem;
        gap: 2rem;
        flex-direction: column;
    }

    .consiliulSection {
        height: 280rem;
    }

    .portraitWrapper {
        width: 23rem;
        height: 50rem;
    }

    .questionSection {
        height: 60rem;
    }
}
