
.mainHeader {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 35rem;
    width: 100%;
    color: white;
    background: rgb(6, 12, 46);
    font-size: 1.6rem;
    gap: 1rem;
    overflow: hidden;
    z-index: 1;
}

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background:#0C53A0;
    margin: 0 10px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #0C53A0,
    0 0 50px #0C53A0,
    0 0 100px #0C53A0;
    animation: animate 15s linear infinite;
    animation-duration: calc(135s / var(--i));
    z-index: -1;
}

.bubbles span:nth-child(even) {
    background:#3697fe;
    box-shadow: 0 0 0 10px #3697fe,
    0 0 50px #64afff,
    0 0 100px #64afff;
}

@keyframes animate {
    0% 
    {
        transform: translateY(51vh) scale(0);
    }
    100% {
        transform: translateY(-20vh) scale(1);
    }
}

@keyframes animate2 {
    0% 
    {
        transform: translateY(80vh) scale(0);
    }
    100% {
        transform: translateY(-40vh) scale(1);
    }
}

@keyframes animate3 {
    0% 
    {
        transform: translateY(20vh) scale(0);
    }
    100% {
        transform: translateY(-40vh) scale(1);
    }
}

.information .bubbles span {
    animation: animate2 15s linear infinite;
    animation-duration: calc(180s / var(--i));
}

.numbersSection .bubbles span {
    animation: animate3 15s linear infinite;
    animation-duration: calc(135s / var(--i));
}

.mainHeaderLogo {
    background: url("../pics/pics_index/general_pics/icon_logoLSEwhite.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    aspect-ratio: 1;
    width: 20rem;
    margin-top: -3rem;
}

.mainTitle {
    margin-top: 1rem;
    font-weight: 600;
}

.animate-text {
    overflow: hidden;
}

.animate-text span {
    display: none;
}

.animate-text span.text-in {
    display: block;
    animation: textIn .5s ease;
}

.animate-text span.text-out {
    display: block;
    animation: textOut .5s ease;
}

@keyframes textIn {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes textOut {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}

.whiteDivider {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 5rem;
    width: 100%;
    font-style: italic;
    color: #5A5A5A;
}

.whiteDividerHeading {
    font-size: 1.2rem;
}

.teamBuilding {
    background: url("../pics/pics_index/pics_bottomSlider/pic27_bottomSlider.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 36vw;
}

.information {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    background-color:rgb(6, 12, 46);
    height: 50rem;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.card {
    display: flex;
    background-color: white;
    height: 18rem;
    width: 75%;
    transition: .2s;
    overflow: hidden;
}

.card:hover {
    box-shadow: -10px 10px 20px rgb(0, 26, 121);
}

.cardTextContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 60%;
    background-color: transparent;
    color: #0C53A0;
}

#firstCard {
    margin-top: -6rem;
}

#firstCardImage {
    background: url("../pics/pics_index/pics_bottomSlider/pic25_bottomSlider.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
}

#secondCardImage {
    background: url("../pics/pics_index/pics_bottomSlider/pic7_bottomSlider.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
}

.cardTitle {
    font-size: 1.5rem;
    font-weight: 600;
}

.cardText {
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding: 1rem;
}

.readMore {
    color: #0C53A0;
    text-decoration: none;
    font-weight: 600;
    transition: .2s;
}

.readMore:hover {
    cursor: pointer;
    color:#3697fe;
}

#secondCard {
    justify-content: flex-end;
}

.questionSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60rem;
}

.question {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.questionLogo {
    aspect-ratio: 1;
    margin-bottom: 1rem;
    width: 5rem;
    background: url("../pics/pics_index/general_pics/icon_logoLSEblue.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.accordion {
    width: 50%;
    min-width: 25rem;
    overflow: hidden;
    background:white;
    padding: 1rem;
}

.accordionLabel, .accordionContent {
    padding: .5rem, 0;
}

.accordionLabel {
    padding: 1rem;
    display: block;
    color: #0C53A0;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    transition: background .1s;
    border: .2rem solid #0C53A0;
    margin-bottom: 1rem;
}
.accordionLabel:hover {
    background: #0C53A0;
    color: white;
}

.accordionLabel::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    right: .5rem;
    width: 1.3rem;
    height: 1.3rem;
    background: url("../pics/pics_index/general_pics/icon_expandMore.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition: background 0.4s;
}

.accordionContent {
    color:#0C53A0;
    font-size: 1rem;
    background: white;
    line-height: 1.5rem;
    font-size: 1rem;
    display: none;
    margin-bottom: 1rem;
}

.accordionInput {
    display: none;
}

.accordionInput:checked ~ .accordionContent {
    display: block;
}

.accordionInput:checked ~ .accordionLabel {
    background: #0C53A0; 
    color: white;
}

.accordionInput:checked ~ .accordionLabel::after {
    background: url("../pics/pics_index/general_pics/icon_expandLessWhite.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.semibold {
    font-weight: 600;
}

.consiliulSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#0C53A0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50rem;
}

.consiliulCardsFlexWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    height: 35rem;
    flex-wrap: wrap;
}


.consilulTitle {
    font-size: 2rem;
    font-weight: 600;
    color: white;
    margin-bottom: 4rem;
    letter-spacing: .2rem;
}

.portraitWrapper {
    display: flex;
    flex-direction: column;
    height: 35rem;
    width: 18rem; 
    transition: .2s;
    border: .2rem solid white;
}

.portraitWrapper:hover {
    box-shadow: -10px 10px 20px rgb(2, 20, 84);
}

.portraitImageWrapper {
    background-color: white;
    width: 100%;
    height: 70%;
}

.nameSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.5rem;
    background-color: white;
    width: 100%;
    color:#0C53A0;
    height: 25%;
}

.profession {
    letter-spacing: .1rem;
    font-size: 1rem;
}

.consiliulName {
    font-size: 1.2rem;
    font-weight: 600;
}

.contactInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.5rem;
    font-size: 1rem;
    background-color: #0C53A0;
    color:white;
    width: 100%;
    height: 25%;
}

.portraitImage {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.numbersSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem;
    background-size: cover;
    color:white;
    position: relative;
    overflow: hidden;
    background-color:rgb(6, 12, 46);
    z-index: 1;
}

.numbersSection .bubbles {
    position: absolute;
}

.numbersFlexWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 9rem;
}

.numbersFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.3rem;
}

.numbersTitle {
    font-size: 3rem;
    font-weight: 600;
}

.numbersSubTitle {
    font-size: 2rem;
}

.bluetype {
    background-color:#0C53A0;
}

.successSection {
    height: 55rem;
    width: 100%;
    text-align: center;
    display: block;
    gap: 4rem;
}

.successTitle {
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 2rem;
    font-weight: 600;
    color: #0C53A0;
}

.successWrapper {
    width: 100%;
    height: 40rem;
    /*background-color: red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.successCard {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 0 .2rem #0C53A0;
    height: 100%;
    width: 23rem;
}

.successCardTitle {
    color: #0C53A0;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.card1ReadMore {
    display: none;
    margin-top: 1rem;
}

.successCardDescription {
    font-size: 1rem;
    line-height: 1.5rem;
    color:#0C53A0;
    text-align: center;
    padding: 0 1.5rem 1.5rem 1.5rem;
}

/* Acestea trebuiesc schimbate in cazul in care se modifica continutul cardurilor */

#roboButton {
    margin-top: 6.5rem;
}

#aleargaButton {
    margin-top: 3.5rem;
}

#mobilProButton {
    margin-top: .5rem;
}

/**/

#roboChallange {
    background: url("../pics/pics_index/pics_header/header_robochallange.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#aleargaPentruViata {
    background: url("../pics/pics_index/pics_header/header_aleargapentruviata.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#mobilPro {
    background: url("../pics/pics_index/pics_header/header_mobilpro.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.successImageWrapper {
    height: 20rem;
    width: 100%;
}

.successButton {
    background-color: #0C53A0;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    transition: .2s;
}

.successButton:hover {
    background-color: white;
    color:#0C53A0;
    cursor: pointer;
    box-shadow: 0 0 0 .2rem #0C53A0;
}

.successButton:active {
    background-color: #3697fe;
    color: white;
}



.imageSliderSection {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;
}

.image-slider-wrapper {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-slider {
    min-height: 45rem;
    width: 100%;
    height: inherit;
    position: relative;
    background-image: url("../pics/pics_index/pics_bottomSlider/pic1_bottomSlider.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: .3s;
}

.image-slider * {
    box-sizing: border-box;
}

.arrow-left,
.arrow-right {
    background: #fff;
    position: absolute;
    top: 50%;
    aspect-ratio: 1;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    font-size: 1.2rem;
    color: #0C53A0;
    box-shadow: 0 0 20px #0C53A0;
}

.arrow-left:hover,
.arrow-right:hover {
    background: #0C53A0;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 20px white;
}

.arrow-left {
    left: 5em;
}

.arrow-right {
    right: 5em;
}

.studentiaSection {
    background-color: #0C53A0;
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 4.5rem;
}

.studentiaSection h1 {
    font-size: 3rem;
    font-weight: 400;
    color: white;
}

@keyframes imgFade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media screen and (max-width: 570px) {
    .whiteDividerHeading {
        font-size: 1rem;
    }
}

/* Info Section Stuff*/

@media screen and (max-width: 1685px) {
    .information {
        flex-direction: row;
    }

    .card {
        flex-direction: column;
        width: 40%;
        height: 80%;
        gap: 0;
    }

    .cardTextContainer {
        width: 100%;
    }

    #firstCardImage {
        width: 100%;
    }

    #secondCardImage {
        width: 100%;
        height: 85%;
    }

    #firstCard {
        margin: 0;
    }

    #infoBubbles {
       position: absolute;
    }

}

@media screen and (max-width: 1522px) {
    .cardTextContainer {
        height: 100%;
    }
    #firstCardTextContainer {
        margin-bottom: 0rem;
    }

    #secondCardImage {
        height: 72%;
    }
}

@media screen and (max-width: 1396px) {
    #secondCardImage {
        height: 58%;
    }
}

@media screen and (max-width: 1276px) {
    #secondCardImage {
        height: 50%;
    }
}

@media screen and (max-width: 1158px) {
    #secondCardImage {
        height: 40%;
    }
}

@media screen and (max-width: 1091px) {
    .information {
        flex-direction: column;
        height: 100rem;
    }

    .card {
        height: 40%;
        width: 80%;
    }

    #secondCardImage {
        height: 100%;
    }

    @keyframes animate2 {
        0% 
        {
            transform: translateY(80vh) scale(0);
        }
        100% {
            transform: translateY(-80vh) scale(1);
        }
    }

    .information .bubbles span {
        animation: animate2 15s linear infinite;
        animation-duration: calc(250s / var(--i));
    }
}

@media screen and (max-width: 761px) {
    .more {
        display: none;
    }

    .card1ReadMore {
        display: block;
        text-align: center;
    }

    .card1ReadMore a {
        font-weight: 600;
        text-decoration: none;
        transition: .2s;
        color:white;
        background: #0C53A0;
        padding: 1rem 6rem;
        line-height: 4rem;
    }
    
    .card1ReadMore a:hover {
        cursor: pointer;
        background:#3697fe;
    }
    
}

@media screen and (max-width: 847px) {
    #secondCardImage {
        height: 80%;
    }
}

@media screen and (max-width: 761px) {
    #secondCardImage {
        height: 100%;
    }
}

@media screen and (max-width: 712px) {
    #firstCardImage {
        height: 80%;
    } 

    .card1ReadMore a {
        line-height: 4rem;
    }
}

@media screen and (max-width: 622px) {
    #firstCardImage {
        height: 70%;
    }
    .card1ReadMore a {
        line-height: 6rem;
    }
}

@media screen and (max-width: 595px) {
    #firstCardImage {
        height: 60%;
    }
}

@media screen and (max-width: 550px) {
    #firstCardImage {
        height: 55%;
    }
}

@media screen and (max-width: 517px) {
    #firstCardImage {
        height: 35%;
    }

    .card1ReadMore a {
        padding: 1rem 5.5rem;
    }
}

@media screen and (max-width: 495px) {
    .card1ReadMore a {
        padding: 1rem 5rem;
    }
}

@media screen and (max-width: 475px) {
    #firstCardImage {
        height: 25%;
    }
}


/* end of information section stuff */

/*start of number section stuff */

@media screen and (max-width: 1400px) {

.numbersTitle {
    font-size: 2.5rem;
}

.numbersSubTitle {
    font-size: 1.8rem;
}

}

@media screen and (max-width: 1290px) {
    .numbersTtile {
        font-size: 2rem;
    }

    .numbersSubTitle {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1240px) {
    .numbersFlexWrapper {
        flex-direction: column;
        gap: 3rem;
    }

    .numbersSection {
        height: 35rem;
    }

    .numbersFlex {
        flex-direction: row;
    }

    .numbersTitle {
        font-size: 3rem;
    }

    .numbersSubTitle {
        font-size: 2.5rem;
    }

    .alumni {
        margin-left: -7rem;
    }

    .successProjects {
        margin-left: 4.5rem;
    }

    .activityYears {
        margin-left: .2rem;
    }
}

@media screen and (max-width: 670px) {
    .numbersFlexWrapper {
        margin-left: -3rem;
    }
}

@media screen and (max-width: 580px) {
    .numbersTitle {
        font-size: 2.5rem;
    }

    .numbersSubTitle {
        font-size: 2rem;
    }

    .alumni {
        margin-left: -5.5rem;
    }

    .successProjects {
        margin-left: 3.5rem;
    }

    .activityYears {
        margin-left: .2rem;
    }
}

/* end of number section stuff */

/*start of consiliul stuff*/

@media screen and (max-width: 1600px) {
    .consiliulCardsFlexWrapper {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        height: 70rem;
    }

    .consiliulSection {
        height: 90rem;
    }

}

@media screen and (max-width: 1140px) {
    .mainHeaderLogo {
        margin-top: 1rem;
    }
}


@media screen and (max-width: 990px) {
    .consiliulCardsFlexWrapper {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        height: 113rem;
    }

    .consiliulSection {
        height: 130rem;
    }

    .mainHeaderLogo {
        margin-top: 0;
    }
}

@media screen and (max-width: 650px) {
    .consiliulCardsFlexWrapper {
        display: flex;
        height:  262.5rem;
        gap: 2rem;
        flex-direction: column;
    }

    .consiliulSection {
        height: 280rem;
    }

    .portraitWrapper {
        width: 23rem;
        height: 50rem;
    }

    .questionSection {
        height: 60rem;
    }

    .mainTitle {
        font-size: 1.5rem;
    }
}

/* end of consiliul stuff */


/* start of question accordion stuff */

@media screen and (max-width: 1041px) {
    .questionSection {
        height: 70rem;
    }
} 

/* end of question accordion stuff */

/* start of success projects section */

@media screen and (max-width: 1300px) {

    .successSection {
        height: 160rem;
    }

    .successWrapper {
        flex-wrap: wrap;
    }

    .successCardTitle {
        font-size: 2rem;
        margin-left: 1rem;
    }

    .successCardDescription {
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
    }

    .successButton {
        height: 13rem;
        font-size: 1.5rem;
    }

    .successCard {
        height: 40rem;
        width: 50%;
    }

    #mobilPro {
        background-position: 1%;
    }

    #roboChallange {
        background-position: 5% 50%;
    }

    #aleargaPentruViata {
        background-position: 5% 43%;
    }

    .successImageWrapper {
        height: 100%;
    }

}

@media screen and (max-width: 700px) {
    .successWrapper {
        flex-wrap: wrap;
    }

    .successSection {
        height: 170rem;
    }
    
    .successCardTitle {
        font-size: 2rem;
        margin-left: 0;
    }

    .successCard {
        align-items: center;
    }

    .successCardDescription {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 5rem;
        text-align: center;
    }

    .successButton {
        height: 13rem;
        font-size: 1.5rem;
    }

    #mobilProCard {
        width: 80%;
        height: 50rem;
    }

    #mobilPro {
        background-position: 1%;
    }

    #roboChallangeCard {
        width: 80%;
        height: 50rem;
    }

    #roboChallange {
        background-position: 5% 42%;
    }

    #aleargaPentruViataCard {
        width: 80%;
        height: 50rem;
    }

    #aleargaPentruViata {
        background-position: 5% 70%;
    }

    .successImageWrapper {
        height: 100%;
    }
}

/* end of success projects section */

/* start of studentia section */

@media screen and (max-width: 770px) {
    .studentiaSection h1 {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
} 

@media screen and (max-width: 625px) {
    .studentiaSection h1 {
        font-size: 2rem;
        line-height: 3rem;
    }

} 

@media screen and (max-width: 530px) {
    .studentiaSection h1 {
        font-size: 1.8rem;
        line-height: 2.7rem;
    }

} 

/* end of studentia section */

/* start of image slider section */

@media screen and (max-width: 1540px) {

    .image-slider {
        min-height: 40rem;
    }

    .arrow-left,
    .arrow-right {
        width: 3rem;
        position: absolute;
        background: white;
        color: #0C53A0;
    }

}

@media screen and (max-width: 1000px) {
    .arrow-left {
        left: 2em;
    }

    .arrow-right {
        right: 2em;
    }
}

@media screen and (max-width: 700px) {

    .image-slider {
        min-height: 25rem;
    }

    .arrow-left,
    .arrow-right {
        position: static;
        width: 50%;
        border-radius: 0;
        height: 10rem;
        margin-top: 30rem;
        border: 2px solid #0C53A0;
        box-shadow: none;
        background: white;
        color: #0C53A0;
        font-size: 2rem;
    }

    .arrow-left:hover,
    .arrow-right:hover {
        position: static;
        background-color: #0C53A0;
        color:white;
        box-shadow: none;
    }

    .arrow-left {
        float: left;
        border-right: none;
    }

    .arrow-right {
        float: right;
    }
}


/* end of image slider section */


