/* start of Bubble Header stuff */

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background:#0C53A0;
    margin: 0 10px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #0C53A0,
    0 0 50px #0C53A0,
    0 0 100px #0C53A0;
    animation: animate 15s linear infinite;
    animation-duration: calc(135s / var(--i));
    z-index: -1;
}

.bubbles span:nth-child(even) {
    background:#3697fe;
    box-shadow: 0 0 0 10px #3697fe,
    0 0 50px #64afff,
    0 0 100px #64afff;
}

@keyframes animate {
    0% 
    {
        transform: translateY(20vh) scale(0);
    }
    100% {
        transform: translateY(-20vh) scale(1);
    }
}

.teamHeader {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 600;
    color:white;
    background: rgb(6, 12, 46);
    z-index: 1;
}

.teamHeader h1 {
    position: absolute;
}

@media screen and (max-width: 1140px) {
    .teamHeader h1 {
        margin-top: 4rem;
    }

    .teamHeader {
        height: 20rem;
    }
}


/* end of Bubble Header stuff */

.parteneriSection {
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90rem;
    height: 100%;
    background: transparent; /* For Testing */
    gap: 2rem;
}

.imageWrapper {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1416px) {
    .parteneriSection {
        height: 60rem;
    }

    .contentWrapper {
        flex-direction: column;
        gap: 3rem;
    }
}
